<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>voicify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C29A8A3A1D87415F00394C81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29A8A4E1D87415F00394C81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29A8A591D87415F00394C81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
